version: "3.9"

services:
  observer:
    build:
      context: .
      dockerfile: Dockerfile
    image: http-observer:latest
    container_name: http-observer
    ports:
      - "39000:9000"
    volumes:
      - ./volumes/storage:/app/storage
    restart: unless-stopped

  openresty:
    image: openresty/openresty:alpine
    container_name: openresty
    ports:
      - "30080:80"
      - "30443:443"
    volumes:
      - ./volumes/nginx/conf.d:/etc/nginx/conf.d:ro
    restart: unless-stopped